[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mahee1989
[access "refs/for/refs/*"]
	read = group user/mahee1989
	push = group user/mahee1989
	label-Code-Review = -2..+2 group user/mahee1989
	label-Verified = -1..+1 group user/mahee1989
	rebase = group user/mahee1989
	removeReviewer = group user/mahee1989
	submit = group user/mahee1989
[access "refs/heads/*"]
	read = group user/mahee1989
	create = group user/mahee1989
	push = +force group user/mahee1989
	pushMerge = group user/mahee1989
[access "refs/tags/*"]
	push = +force group user/mahee1989
	pushTag = group user/mahee1989
	pushSignedTag = group user/mahee1989
